/src/generationWordpress/configPrivee2.py
/src/generationWordpress/tools/trialWikimediaManager/configPrivee.py
/apps/serveurSaisieArtiste/client_secret_997235965815-nvnqjvf8ui8u1poa2c52npo6ad6e4lsj.apps.googleusercontent.com.json
/apps/serveurSaisieArtiste/piwigo_manager.log
/apps/serveurSaisieArtiste/.env
